body {
    padding: 10%;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

a {
    color: hsl(207, 44%, 49%);
}

/* a:visited {
    color: purple;
} */

a:hover, a:focus {
    color: hsl(207, 44%, 49%, 0.8);
}

a:active {
    color: red;
}