@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* FONT */
    --FF: "Nunito", sans-serif;
    --FS: 1.5rem;
    --FS-XL: 3rem;

    /* COLOR */
    --BGCOLOR: #475569;
    --ALTBGCOLOR: #1E293B;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;

    /* GENERAL */
    --PADDING: 0.5rem;
}
 
body {
    font: var(--FS) var(--FF);
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header, footer {
    position: sticky;
    background-color: var(--ALTBGCOLOR);
    color: var(--LIGHT-COLOR);
    text-align: center;
}

header {
    top: 0;
}

nav  {
    background-color: var(--LIGHT-COLOR);
    padding: var(--PADDING);
    border-bottom: 2px solid var(--DARK-COLOR);
    color: var(--DARK-COLOR);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 17rem;
    text-align: center;
    font-weight: bolder;
}